/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Container Styles */
  .container_admin {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    display: flex; 
    flex-direction: column; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center; 
  }
  
  /* Title Styles */
  .title_admin {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
  }
  
  /* Box Styles */
  .box_admin {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
    background-color: #ffffff;
  }
  
  /* Subtitle Styles */
  .sub_title_admin {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #007bff;
  }

  .div_btn {
    display: flex;
    justify-content: center;
  }

  .div_component {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  /* Button Styles */
  .button_admin {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button_admin:hover {
    background-color: #0056b3;
  }

  .btn_navbar {
    padding: 10px 15px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1rem;
    color: white;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn_navbar:hover {
    background-color: #000000;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .container_admin {
      padding: 15px;
    }
  
    .title_admin {
      font-size: 2rem;
    }
  
    .sub_title_admin {
      font-size: 1.3rem;
    }
  
    .button_admin {
      padding: 8px 12px;
      font-size: 0.9rem;
    }

  }
  