/* Container Styles */
.container_login {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Title Style */
  .title_login {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  /* Form Label Styles */
  .label_login {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
    text-align: left;
  }
  
  /* Input Field Styles */
  .input_login {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
  }
  
  .input_login:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Button Styles */
  .btn_submit {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn_submit:hover {
    background-color: #0056b3;
  }

  .text_login {
    margin-top: 1rem;
    color: #333;
  }
  
  /* Error Message */
  .error-message {
    color: red;
    margin-top: 1rem;
  }
  